li {
  list-style: none;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

body {
  width: 100vw;
  height: 100vh;
}

.rdContent {
  width: 1000px;
  margin: 60px auto;
}

.titleBox {
  margin-bottom: 15px;
  line-height: 26px;
}

#title {
  font-size: 24px;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
}

#userName {
  font-size: 14px;
}

#titleLine {
  margin: 0 5px;
  font-size: 14px;
}

#date {
  width: 107.08px;
  font-size: 14px;
}

#tUnderLine {
  background-color: #9c9c9c;
  border: 1px solid transparent;
  opacity: 0.2;
}

.review {
  margin-top: 25px;
}

.goalBox {
  margin-bottom: 25px;
}

#goalTitle {
  width: 115px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.learnedBox {
  margin-bottom: 25px;
}

#learnedTitle {
  width: 83px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feltBox {
  margin-bottom: 25px;
}

#feltTitle {
  width: 68px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nextGoalBox {
  margin-bottom: 25px;
}

#nextGoalTitle {
  width: 137px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}